.std_details_contain {
  display: flex;
  background-color: rgba(228, 228, 228, 0.695);
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: fit-content;
  border-bottom: 1px solid;
  position: relative;
  top:0;
}

.try{
    color: rgb(0, 128, 255);
}

.std_details1 p {
  font-size: large;
  font-weight: 600;
}

.std_details2 p {
  font-size: large;
  font-weight: 600;
}

.std_image img{
    border-radius: 30px;
    width: 60px;
    height: 60px;
}




.nav-content {
  background-color: rgba(228, 228, 228, 0.695);
  position: absolute;
  width: fit-content;
  height: 90%;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  align-items: center;
  overflow: auto;
}

.nav-content ul {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  list-style: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-content ul li{
  margin: 30px 0;
  padding: 20px 10px;
  /* background-color:white ; */
  border-radius: 10px;
  border: 1px solid;
}

.nav-linktag {
  text-decoration: none;
  color: black;
}
