body {
  background-color: white;
}

/* Top Navbar */
.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(209, 28, 28, 0.1);
}

.top-navbar .logo {
  display: flex;
  align-items: center; 
  font-weight: bold;
  color: var(--primary-color);
}

.logo-img {
  width: 50px;
  height: 40px;
  margin-right: 10px;
}



.top-navbar .center-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.top-navbar .notifications,
.top-navbar .calendar {
  margin-right: 10px;
  color: var(--primary-color);
  cursor: pointer;
}

.top-navbar .admin-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--primary-color);
  padding-left: 20px;
  margin-left: 20px;
}

.top-navbar .logout-button {
  padding: 8px 16px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

/* Sidebar */
.side-navbar {
  background-color: var(--background-color);
  width: 250px;
  height: 100%;
  position: fixed;
  top: 75px;
  left: -250px;
  transition: left 0.3s ease;
  overflow-y: auto;
  z-index: 999;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  margin-top: -12px;
}

.side-navbar.open {
  left: 0;
}

.side-navbar a {
  display: block;
  padding: 15px 20px;
  color: var(--secondary-color);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.side-navbar a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.side-navbar .active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.admin-container {
  margin-left: 0;
  padding: 20px;
  padding-top: 80px;
  transition: margin-left 0.3s ease;
}

.admin-container.sidebar-open {
  margin-left: 250px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .admin-container {
    padding-top: 60px;
  }

  .top-navbar {
    padding: 10px 15px;
    font-size: 10px;
  }

  .icon-button {
    margin-right: 5px; 
  }

  .top-navbar .logo {
    font-size: 1.2rem;
  }

  .side-navbar {
    width: 200px;
    left: -200px;
  }

  .side-navbar.open {
    left: 0;
  }

  .admin-container {
    padding-top: 60px;
  }
}

@media screen and (max-width: 444px) {
  .top-navbar .logo {
    font-size: 0;
  }

  .logo-img {
    margin-right: 0;
  }

  .top-navbar .admin-profile {
    flex-direction: column;
    align-items: center;
  }
}

.icon-button {
  background-color: #F9F6E5;
  border: none;
  outline: none; 
  border-radius: 4px;
  padding: 10px;
  cursor: pointer; 
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-right: 20px; 
}

.icon-button:focus {
  outline: none;
}

.actions {
  display: flex;
  align-items: center;
}
