.forgoten-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: aqua;
    background: linear-gradient(90deg, rgb(100, 170, 170) 0%, var(--background-color)) 100%;

}

.forgoten-image {
    width: 50%;
    background-image: url('../../public/WW.jpeg'); /* Add your background image here */
    background-size: cover;
    background-position: center;
}

/* .forgoten-form {
    width: 50%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3c743f;
    flex: 1;
} */

#formd {
    background: #B5DFD5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute; /* Centering adjustments */
    top: 50%;
    left: 75%; /* Adjust left value to position based on screen size */
    transform: translate(-50%, -50%);
}

#formd h2 {
    color: white;
}
#formd input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

#formd button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    /* background-color: #56ADB7; */
    background-color: #043544;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

#formd button:hover {
    background-color: #56ADB7;
}

#formd p {
    color: red;
    text-align: center;
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
    .forgoten-container {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
        padding: 0;
        background-image: url('../../public/WW.jpeg');
        background-size: cover;
        background-position: center;
    }

    .forgoten-image {
        display: none;
    }

    #formd {
        background: #56ADB7;
        padding: 15px;
        left: 50%;
        width: 80%; /* Make form width responsive */
    }
}

@media screen and (max-width: 480px) {
    #formd {
        width: 90%; /* Almost full width on very small screens */
        left: 50%; /* Center horizontally */
        padding: 10px;
    }

    #formd input, 
    #formd button {
        font-size: 14px; /* Adjust font size for inputs and buttons */
    }
}