.reseting-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgb(100, 170, 170) 50%, var(--background-color) 50%);
}

.reseting-image {
    width: 50%;
    background-image: url('../../public/RR.jpeg'); /* Add your background image here */
    background-size: cover;
    background-position: center;
}

.reset-form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, var(--background-color) 0%, var(--background-color) 100%);
}

#reseta {
    background: #B5DFD5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#reseta h2 {
    color: white;
}

#reseta .input-group {
    margin: 10px 0;
    width: 100%;
}

#reseta input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

#reseta button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #043544;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

#reseta button:hover {
    background-color: #56ADB7;
}

#reseta p {
    color: red;
    text-align: center;
}
