.reseting-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #6EA5AA;
    background: linear-gradient(90deg, rgb(100, 170, 170) 0%, var(--background-color)) 100%;

}

.reseting-image {
    width: 50%;
    background-image: url('../../public/RR.jpeg'); /* Add your background image here */
    background-size: cover;
    background-position: center;
}

#reseta {
    background: #78b1b6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75%;
    margin-left: 55%;
}

#reseta h2 {
    color: white;
}
#reseta input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

#reseta button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    /* background-color: #56ADB7; */
    background-color: #41838d;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

#reseta button:hover {
    /* background-color: #56ADB7; */
    background-color: #7A877E;
}

#reseta p {
    color: red;
    text-align: center;
}


