/* :root {
  --primary-color: #152F46;
  --secondary-color: #1DABFF;
  --background-color: #F9F6E5;
} */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-color);
}

.register-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--background-color);
}

.register-image {
  flex: 1;
  background-image: url("../../public/RL.jpeg");
  background-size: cover;
  background-position: center;
  max-width: 45%;
}

.register-form {
  flex: 1;
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #0057688b 20%, #005768 100%);
}

.register-form form {
  background-color: #001733;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0;
  box-shadow: 0 25px 40px rgba(5, 5, 5, 0.952);
}

.register-form h2 {
  color: var(--background-color);
  text-align: center;
  margin-top: 5px;
}

.register-form .input-group {
  margin-bottom: 15px;
}

.register-form .input-group label {
  color: var(--background-color);
  display: block;
  margin-bottom: 10px;
}

.register-form .input-group input[type="text"],
.register-form .input-group input[type="email"],
.register-form .input-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
}

.register-form button {
  background-color: var(--secondary-color);
  color: var(--background-color);
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s ease all;
  margin-top: 15px;
}

.register-form button:hover {
  background-color: var(--primary-color);
}

.register-form .register-link {
  text-align: center;
  color: var(--background-color);
  margin-top: 15px;
}

.register-form .register-link a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: 0.3s ease all;
}

.register-form .register-link a:hover {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .register-container {
    flex-direction: column;
  }

  .register-image, .register-form {
    flex: none;
    width: 100%;
  }

  .register-form form {
    width: 70%;
  }
}
