.modal-header {
    background-color: #f8d7da;
    color: #721c24;
    border-bottom: 1px solid #f5c6cb;
    padding: 15px;
    text-align: center; /* for small screens */
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    font-size: 16px;
    color: #495057;
}

.modal-footer {
    display: flex;
    justify-content: center; /* for small screens */
    border-top: 1px solid #f5c6cb;
    padding: 15px;
    gap: 10px; /* Space between buttons */
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}


.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

/* Responsive Design for Modal */
@media (min-width: 576px) {
    .modal-header, .modal-footer {
        flex-direction: row; /* Row layout for larger screens */
        align-items: center; /* Align items to the center vertically */
        text-align: left; /* Left align text */
    }

    .modal-footer {
        justify-content: space-between; /* Space out buttons */
    }
}
